$colors: (
    primary: (
        1: hsl(215, 51%, 70%),
        2: hsl(178, 100%, 50%),
    ),
    neutral: (
        main-bg: hsl(217, 54%, 11%),
        card-bg: hsl(216, 50%, 16%),
        line: hsl(215, 32%, 27%),
        white: hsl(0, 0%, 100%)
    )
);


:root {
    @each $cat, $clr in $colors {
        @each $key, $val in $clr {
            --#{$cat}-#{$key}: #{$val};
        }
    }
};